<div id="deleteusermodal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h5 id="delete_user_message">Are you sure? <span class="extra-title muted"></span></h5>
      </div>
      <div class="modal-footer">
        <button id="delete_user_confirm" type="button" data-dismiss="modal" class="btn btn-primary">Delete</button>
        <button type="button" data-dismiss="modal" class="btn">Cancel</button>
      </div>
    </div>
  </div>
</div>
