<!-- Modal -->
<div class="modal" id="laboreditmodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body form-horizontal">
        <form id="edit_user_form" class="form-horizontal form-label-left" novalidate>
          <span class="section">Edit Labor Rate</span>
          <p id="editlaborrow"></p>
          <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="editlabortype">Labor Type <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input id="editlabortype" name="editlabortype" required="required" type="text" data-validate-length-range="1,20" class="form-control col-md-7 col-xs-12">
            </div>
          </div>
          <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="editlaborpay">Pay Rate <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input id="editlaborpay" type="number" name="editlaborpay" required="required" data-validate-minmax="0,100000" min="0" step="0.01" class="form-control col-md-7 col-xs-12">
            </div>
          </div>
          <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="editlaborbill">Bill Rate <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input id="editlaborbill" type="number" name="editlaborbill" required="required" data-validate-minmax="0,100000" min="0" step="0.01" class="form-control col-md-7 col-xs-12">
            </div>
          </div>
          <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="editlaborunit">UoM <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <select id="editlaborunit">
                <option value="Hour">Hour</option>
                <option value="Unit">Unit</option>
              </select>
            </div>
          </div>

          <div class="modal-footer">
              <button data-dismiss="modal" class="btn btn-primary">Cancel</button>
              <button id="editlabor_modal_save" class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
