<!-- Modal -->
<div class="modal" id="employeeeditmodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body form-horizontal">
        <form id="edit_user_form" class="form-horizontal form-label-left" novalidate>
          <span class="section">Edit Labor Rate</span>
          <p id="editemployeerow"></p>
          <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="editemployeename">Employee Name <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input id="editemployeename" name="editemployeename" required="required" type="text" data-validate-words="2" data-validate-length-range="1,50" class="form-control col-md-7 col-xs-12">
            </div>
          </div>
          <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="editemployeeid">EE # <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input id="editemployeeid" type="text" name="editemployeeid" required="required" data-validate-length-range="1,50" class="form-control col-md-7 col-xs-12">
            </div>
          </div>
          <div class="modal-footer">
              <button data-dismiss="modal" class="btn btn-primary">Cancel</button>
              <button id="editemployee_modal_save" class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
