{% extends "layout.html" %}

{% block content %}
<!-- page content -->

<div class="right_col" role="main">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

          <div class="clearfix"></div>

          <table id="labor-report-table" class="table table-striped table-bordered datatable-buttons">
            <div id="reportrange_right" class="pull-left labor-report-date" style="display: inline-block; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
              <span>{{date_span[0]}} - {{date_span[1]}}</span> <b class="caret"></b>
            </div>
            <thead>
              <tr>
                <th>Id</th>
                <th>Date</th>
                <th>PO</th>
                <th>Total</th>
                <th>Employee</th>
                <th>Labor %</th>
                <th>Pay</th>
                <th>Site Name</th>
                <th>Site Id</th>
                <th>UoM</th>
                <th>Bill Rate</th>
                <th>Total Bill</th>
              </tr>
            </thead>
            <tbody>
              {% for r in labor_data.keys() %}
              <tr>
                <td>{{r}}</td>
                <td>{{labor_data[r]["Date"]}}</td>
                <td>{{labor_data[r]["PO"]}}</td>
                <td>{{labor_data[r]["Total"]}}</td>
                <td>{{labor_data[r]["Employee"]}}</td>
                <td>{{labor_data[r]["Laborpct"]}}</td>
                <td>{{labor_data[r]["Pay"]}}</td>
                <td>{{labor_data[r]["SiteName"]}}</td>
                <td>{{labor_data[r]["SiteId"]}}</td>
                <td>{{labor_data[r]["UoM"]}}</td>
                <td>{{labor_data[r]["BillRate"]}}</td>
                <td>{{labor_data[r]["TotalBill"]}}</td>
              </tr>
              {% endfor %}
            <tbody>
          </table>


      </div>
    </div>
  </div>
</div>

<!-- page content -->
{% endblock %}
