{% extends "layout.html" %}

{% block content %}
<!-- page content -->
<div class="right_col" role="main">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

          <div class="col-md-12 col-sm-12 col-xs-12">
            <ul class="nav nav-tabs labortab">
              <li class="active labortab"><a data-toggle="tab" href="#labor-rates">Labor Rates</a></li>
              <li><a data-toggle="tab" href="#employees">Employees</a></li>
              <li><a data-toggle="tab" href="#sites">Sites</a></li>
              <li><a data-toggle="tab" href="#cost-tables">Cost Table</a></li>
            </ul>
            <div class="tab-content">

              <div id="labor-rates" class="tab-pane fade in active">
                <div class="x_content">
                    <div class="clearfix"></div>
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-left">
                      Labor Type: <input id="labortype" type="text">
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-left">
                      Pay Rate: <input id="laborpay" type="number" name="units" min="0" step="0.01" value="0">
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-left">
                      Bill Rate: <input id="laborbill" type="number" name="units" min="0" step="0.01" value="0">
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-left">
                      UoM: <select id="laboruom">
                        <option value="Hour">Hour</option>
                        <option value="Unit">Unit</option>
                      </select>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-left">
                      <a id="addlabor" href="#"><i class="fa fa-plus"></i> Add Entry</a>
                    </div>

                  <table id="labor-rate-table" class="table table-striped table-bordered datatable">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Type</th>
                        <th>Pay Rate</th>
                        <th>Bill Rate</th>
                        <th>UoM</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for entry in rate_data %}
                      <tr>
                        <td>{{ entry[4] }}</td>
                        <td>{{ entry[0] }}</td>
                        <td>{{ entry[1] }}</td>
                        <td>{{ entry[2] }}</td>
                        <td>{{ entry[3] }}</td>
                        <td>
                            <a class="editlabor" href="#"><i class="fa fa-pencil"></i></a>
                            <a class="dellabor" href="#"><i class="fa fa-trash"></i></a>
                        </td>
                      </tr>
                    {% endfor %}
                    <tbody>
                  </table>
                </div>
              </div>

              <div id="employees" class="tab-pane fade" role="tabpanel">

                  <div class="x_content">
                      <div class="clearfix"></div>
                      <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-left">
                        Employee: <input id="employeename" name="employeename" required="required" type="text" data-validate-words="2" data-validate-length-range="1,50">
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-left">
                        EE #: <input id="employeeid" type="text" name="employeeid" required="required" data-validate-length-range="1,50">
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-left">
                        <a id="addemployee" href="#"><i class="fa fa-plus"></i> Add Entry</a>
                      </div>

                    <table id="employee-table" class="table table-striped table-bordered datatable">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Employee</th>
                          <th>EE#</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for e in employee_data %}
                        <tr>
                          <td>{{ e[2] }}</td>
                          <td>{{ e[0] }}</td>
                          <td>{{ e[1] }}</td>
                          <td>
                              <a class="editemployee" href="#"><i class="fa fa-pencil"></i></a>
                              <a class="delemployee" href="#"><i class="fa fa-trash"></i></a>
                          </td>
                        </tr>
                      {% endfor %}
                      <tbody>
                    </table>
                  </div>

              </div>

              <div id="sites" class="tab-pane fade" role="tabpanel">

                <div class="x_content">
                    <div class="clearfix"></div>
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-left">
                      Site Name: <input id="sitename" type="text" required="required" data-validate-length-range="1,50">
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-left">
                      Site Id: <input id="siteid" type="number" required="required" data-validate-minmax="0,1000000" min="0" step="1">
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-left">
                      <a id="addsite" href="#"><i class="fa fa-plus"></i> Add Entry</a>
                    </div>

                  <table id="site-table" class="table table-striped table-bordered datatable">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Site</th>
                        <th>Site Id</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for s in site_data %}
                      <tr>
                        <td>{{ s[2] }}</td>
                        <td>{{ s[0] }}</td>
                        <td>{{ s[1] }}</td>
                        <td>
                            <a class="editsite" href="#"><i class="fa fa-pencil"></i></a>
                            <a class="delsite" href="#"><i class="fa fa-trash"></i></a>
                        </td>
                      </tr>
                    {% endfor %}
                    <tbody>
                  </table>
                </div>

              </div>

              <div id="cost-tables" class="tab-pane fade " role="tabpanel">

                <div class="x_content">
                    <div class="clearfix"></div>
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-left">
                      Cost: <input id="costtype" type="text" data-validate-words="2" data-validate-length-range="1,20">
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-left">
                      Amount: <input id="costamount" type="text" data-validate-length-range="1,20">
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-left">
                      UoM: <select id="costuom">
                          <option value="dollar">dollar</option>
                          <option value="number">number</option>
                          <option value="percent">percent</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-left">
                      <a id="addcost" href="#"><i class="fa fa-plus"></i> Add Entry</a>
                    </div>

                  <table id="cost-table" class="table table-striped table-bordered datatable">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Cost</th>
                        <th>Amount</th>
                        <th>UoM</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for cost in cost_data %}
                      <tr>
                        <td>{{ cost[3] }}</td>
                        <td>{{ cost[0] }}</td>
                        <td>{{ cost[1] }}</td>
                        <td>{{ cost[2] }}</td>
                        <td>
                            <a class="editcost" href="#"><i class="fa fa-pencil"></i></a>
                            <a class="delcost" href="#"><i class="fa fa-trash"></i></a>
                        </td>
                      </tr>
                    {% endfor %}
                    <tbody>
                  </table>
                </div>

              </div>


            </div>
          </div>
      </div>
    </div>
  </div>
</div>

{% include "edit-labor-modal.html" %}
{% include "edit-employees-modal.html" %}
{% include "edit-sites-modal.html" %}
{% include "edit-costs-modal.html" %}

<!-- page content -->
{% endblock %}
