{% extends "layout.html" %}

{% block content %}
<!-- page content -->
<div class="right_col" role="main">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

          <div class="clearfix"></div>
            <div class="col-md-6 col-sm-6 col-xs-12 form-group pull-left">
              PO #: <input id="ponum" type="text">
            </div>
          <div class="clearfix"></div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-left">
              Date: <input id="podate" type="date">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-left">
              Employee: <input id="poworker" type="text" data-validate-words="2" data-validate-length-range="1,20">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-left">
              Labor Type: <select id="polabor">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-left">
              Units: <input id="pounit" type="number" name="units" min="0" step="0.01" value="0">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-left">
              <a id="addpo" href="#"><i class="fa fa-plus"></i> Add Entry</a>
            </div>
        <!-- <p><button href="#" class="btn btn-success btn-sm" id="create_po_btn" data-toggle="modal" data-target="#createpomodal">New PO</button></p> -->
        <table id="datatable-po" class="table table-striped table-bordered datatable-buttons">
          <thead>
            <tr>
              <th>Id</th>
              <th>Date</th>
              <th>PO</th>
              <th>Employee</th>
              <th>Labor Type</th>
              <th>Units</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for r in labor_data %}
            <tr>
              <td>{{r[8]}}</td>
              <td>{{r[3]}}</td>
              <td>{{r[2]}}</td>
              <td>{{r[5]}}</td>
              <td>{{r[4]}}</td>
              <td>{{r[6]}}</td>
              <td>
                  <a class="editpo" href="#"><i class="fa fa-pencil"></i></a>
                  <a class="delpo" href="#"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% include "edit-po-modal.html" %}

<!-- page content -->
{% endblock %}
