{% extends "layout.html" %}

{% block content %}
<!-- page content -->
<div class="right_col" role="main">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <!-- <table class="table table-striped table-bordered">
          <tr>
            <th>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ponum">PO #: <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input id="ponum" type="text" name="ponum" data-validate-words="1" data-validate-length-range="1,20" class="form-control col-md-7 col-xs-12" required="required">
                </div>
              </div>
            </th>
            <th>Date</th>
            <th>PO</th>
            <th>Labor Type</th>
            <th>Action</th>
          </tr>
        </table> -->
        <!-- <p><button href="#" class="btn btn-success btn-sm" id="create_po_btn" data-toggle="modal" data-target="#createpomodal">New PO</button></p> -->
        <table id="datatable-po" class="table table-striped table-bordered datatable-buttons">
          <thead>
            <tr>
              <th>Id</th>
              <th>Date</th>
              <th>PO</th>
              <th>Labor Type</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>
                <input id="podate" type="date">
              </td>
              <td>
                <select >
                  <option value="111">111</option>
                  <option value="112">112</option>
                  <option value="113">113</option>
                </select>
              </td>
              <td>
                <select id="polabor">
                  <option value="volvo">Volvo</option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
                </select>
              </td>
              <td>
                  <a id="addpo" href="#"><i class="fa fa-plus"></i></a>
              </td>
            </tr>
            {% for r in labor_data %}
            <tr>
              <td>{{r[8]}}</td>
              <td>{{r[3]}}</td>
              <td>{{r[2]}}</td>
              <td>{{r[4]}}</td>
              <td>
                  <a class="editablepo" href="#"><i class="fa fa-pencil"></i></a>
                  <a class="delpo" href="#"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- page content -->
{% endblock %}
