{% extends "layout.html" %}

{% block content %}
<!-- page content -->
<div class="right_col" role="main">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Welcome to User Management! <small><i class="fa fa-users"></i></small></h2>

        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <p class="text-muted font-13 m-b-30">
          Use this section to create, delete, and manage user access to the Vendor Management Portal.
        </p>
        <p><button href="#" class="btn btn-success btn-sm" id="create_user_btn" data-toggle="modal" data-target="#createusermodal">Create User</button></p>
        <table id="datatable-btns" class="table table-striped table-bordered datatable-buttons">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>E-Mail</th>
              <th>Site</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            {% for user in userdata %}
              <tr>
                <td>{{user[0]}}</td>
                <td>{{user[1]}}</td>
                <td>{{user[2]}}</td>
                <td>{{user[3]}}</td>
                {% if user[0] ==  "1" %}
                <td>
                    <i class="fa fa-ban"></i>
                </td>
                {% else %}
                <td>
                    <a class="editableuser" href="#" data-toggle="modal" data-target="#editusermodal"><i class="fa fa-pencil"></i></a>
                    {% if user[0] != current_user.id %}
                    <a class="deleteuser" href="#" data-toggle="modal" data-target="#deleteusermodal"><i class="fa fa-trash"></i></a>
                    {% endif %}
                    <a id="pwreset-{{user[0]}}" href="#" data-toggle="modal" data-target="#pwresetmodal"><i class="fa fa-lock"></i></a>
                </td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% include "pwreset-modal.html" %}
{% include "createuser-modal.html" %}
{% include "edit-user-modal.html" %}
{% include "delete-user-modal.html" %}

<!-- page content -->
{% endblock %}
